body,html{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    overflow: hidden;
    background-image: url("images/fallingsnow.gif");
}

.map{
    background-color: white;
    margin-top: -5px;

}

#mapContainer{
    position: absolute;
    z-index: -1;
    animation-duration: 15s;
    animation-name: mapSlide;
    animation-timing-function: ease-in;
    margin-left: 25%;
    cursor: url(images/gingerbreadmancookie.png), auto;
}
#svg1Left1{
    clip-path: polygon(92% 100%, 87% 95%, 84% 93%, 80% 89%, 73% 87%, 68% 85%, 66% 81%, 69% 76%, 75% 72%, 83% 68%, 92%
    63%, 96% 57%, 92% 50%, 87% 46%, 81% 41%, 77% 37%, 74% 33%, 71% 29%, 72% 26%, 77% 24%, 85% 22%, 92% 19%, 95% 14%,
    94% 7%, 93% 0, 0 0, 0 100%);
}

#svgRight1{
    clip-path: polygon(5% 0, 9% 4%, 16% 9%, 19% 14%, 19% 18%, 19% 23%, 16% 26%, 12% 29%, 7% 33%, 5% 36%, 9% 40%, 12%
    42%, 16% 45%, 19% 50%, 19% 53%, 17% 56%, 14% 58%, 11% 60%, 7% 63%, 5% 67%, 7% 69%, 14% 72%, 18% 74%, 24% 77%, 27%
    82%, 27% 85%, 24% 90%, 22% 92%, 18% 95%, 13% 98%, 9% 100%, 100% 100%, 100% 0);
}
#svg1Left2{
    clip-path: polygon(92% 100%, 87% 95%, 84% 93%, 80% 89%, 73% 87%, 68% 85%, 66% 81%, 69% 76%, 75% 72%, 83% 68%, 92%
    63%, 96% 57%, 92% 50%, 87% 46%, 81% 41%, 77% 37%, 74% 33%, 71% 29%, 72% 26%, 77% 24%, 85% 22%, 92% 19%, 95% 14%,
    94% 7%, 93% 0, 0 0, 0 100%);
}

#svgRight2{
    clip-path: polygon(5% 0, 9% 4%, 16% 9%, 19% 14%, 19% 18%, 19% 23%, 16% 26%, 12% 29%, 7% 33%, 5% 36%, 9% 40%, 12%
    42%, 16% 45%, 19% 50%, 19% 53%, 17% 56%, 14% 58%, 11% 60%, 7% 63%, 5% 67%, 7% 69%, 14% 72%, 18% 74%, 24% 77%, 27%
    82%, 27% 85%, 24% 90%, 22% 92%, 18% 95%, 13% 98%, 9% 100%, 100% 100%, 100% 0);
}
#svg1Left3{
    clip-path: polygon(92% 100%, 87% 95%, 84% 93%, 80% 89%, 73% 87%, 68% 85%, 66% 81%, 69% 76%, 75% 72%, 83% 68%, 92%
    63%, 96% 57%, 92% 50%, 87% 46%, 81% 41%, 77% 37%, 74% 33%, 71% 29%, 72% 26%, 77% 24%, 85% 22%, 92% 19%, 95% 14%,
    94% 7%, 93% 0, 0 0, 0 100%);
}

#svgRight3{
    clip-path: polygon(5% 0, 9% 4%, 16% 9%, 19% 14%, 19% 18%, 19% 23%, 16% 26%, 12% 29%, 7% 33%, 5% 36%, 9% 40%, 12%
    42%, 16% 45%, 19% 50%, 19% 53%, 17% 56%, 14% 58%, 11% 60%, 7% 63%, 5% 67%, 7% 69%, 14% 72%, 18% 74%, 24% 77%, 27%
    82%, 27% 85%, 24% 90%, 22% 92%, 18% 95%, 13% 98%, 9% 100%, 100% 100%, 100% 0);
}
#svg1Left4{
    clip-path: polygon(92% 100%, 87% 95%, 84% 93%, 80% 89%, 73% 87%, 68% 85%, 66% 81%, 69% 76%, 75% 72%, 83% 68%, 92%
    63%, 96% 57%, 92% 50%, 87% 46%, 81% 41%, 77% 37%, 74% 33%, 71% 29%, 72% 26%, 77% 24%, 85% 22%, 92% 19%, 95% 14%,
    94% 7%, 93% 0, 0 0, 0 100%);
}

#svgRight4{
    clip-path: polygon(25% 0%, 100% 0, 100% 100%, 25% 100%, 8% 54%);
}

@keyframes mapSlide {
    0%{top: -79000px;}
    100%{top: 0;}
}

.modal{
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9);
}

.modal-content{
    justify-items: center;
    width: 30%;
    margin: 20% auto;
    background-color: palevioletred;
    background-size: cover;
    box-shadow: black 2px 2px 8px;
    animation-name: modalOpen;
    animation-duration: 2s;
}

.modal-body{
    padding: 0 10px 20px 10px;
}

.modal-body>p{
    font-weight: bold;
    font-size: 20px;
}

#playAgainBtn{
    background-color: greenyellow;
    padding: 5px;
    font-weight: bold;
    border: solid black 1px;
}

#quitBtn{
    background-color: red;
    font-weight: bold;
    border: solid black 1px;

    padding: 5px;
}

@keyframes modalOpen {
    from{opacity: 0;}
    to{opacity: 1;}
}
