#spelcanvas {
    background-color: rgb(255,255,255);
    width: 500px;
    height: 500px;
}

#spelcanvas {
    cursor: url(img/gingerbreadmancookie.png), auto;
}

body {
    background-image: url("img/fallingsnow.gif");
}